openapi: 3.2.0
info:
  title: Taboola Backstage Campaigns Reach Estimator API
  version: '1.0'
  description: 'Programmatic interface for managing Taboola Realize advertising campaigns. The Backstage Campaigns

    surface provides CRUD operations for campaigns at the account level, plus bulk and network-wide

    convenience endpoints. Used by advertisers and ad operations platforms to integrate Taboola native

    and discovery campaign management.'
  contact:
    name: Taboola Developer Relations
    url: https://developers.taboola.com/backstage-api/reference
  license:
    name: Proprietary
    url: https://www.taboola.com/legal-policies
servers:
- url: https://backstage.taboola.com/backstage/api/1.0
  description: Production
security:
- bearerAuth: []
tags:
- name: Reach Estimator
  description: Estimate reach for campaign targeting before launching.
paths:
  /{account_id}/campaigns/reach-estimator:
    post:
      tags:
      - Reach Estimator
      summary: Estimate Campaign Reach
      description: Estimate total impressions for the supplied targeting.
      operationId: estimateCampaignReach
      parameters:
      - $ref: '#/components/parameters/accountId'
      responses:
        '200':
          description: Estimated reach response.
components:
  parameters:
    accountId:
      name: account_id
      in: path
      required: true
      schema:
        type: string
      description: Taboola account identifier.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'OAuth 2.0 client credentials access token. Obtain via POST to

        https://backstage.taboola.com/backstage/oauth/token with `grant_type=client_credentials`,

        `client_id`, and `client_secret`.'
