openapi: 3.1.0
info:
  title: Taboola Backstage Accounts First Party Audiences API
  version: '1.0'
  description: 'Access and search advertiser accounts within a Taboola network. Used by ad ops platforms and

    agencies managing multiple advertiser accounts under a Taboola network account.'
  contact:
    name: Taboola Developer Relations
    url: https://developers.taboola.com/backstage-api/reference
servers:
- url: https://backstage.taboola.com/backstage/api/1.0
security:
- bearerAuth: []
tags:
- name: First Party Audiences
paths:
  /{account_id}/audience_onboarding:
    post:
      tags:
      - First Party Audiences
      summary: Create A First Party Audience
      description: Create a new first-party audience for the specified account.
      operationId: createFirstPartyAudience
      parameters:
      - $ref: '#/components/parameters/accountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FirstPartyAudience'
      responses:
        '200':
          description: Created audience.
  /{account_id}/audience_onboarding/{audience_id}/users:
    post:
      tags:
      - First Party Audiences
      summary: Add Or Remove Users
      description: Add or remove users from a first party audience using hashed identifiers.
      operationId: addRemoveAudienceUsers
      parameters:
      - $ref: '#/components/parameters/accountId'
      - name: audience_id
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                operation:
                  type: string
                  enum:
                  - ADD
                  - REMOVE
                users:
                  type: array
                  items:
                    $ref: '#/components/schemas/UserId'
      responses:
        '200':
          description: Result.
  /{account_id}/audience_onboarding/{audience_id}:
    get:
      tags:
      - First Party Audiences
      summary: Get My Audience
      description: Fetch a specific first-party audience by ID.
      operationId: getMyAudience
      parameters:
      - $ref: '#/components/parameters/accountId'
      - name: audience_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Audience.
components:
  parameters:
    accountId:
      name: account_id
      in: path
      required: true
      schema:
        type: string
  schemas:
    UserId:
      type: object
      properties:
        type:
          type: string
          enum:
          - EMAIL
          - DEVICE_ID
          - IDFA
          - AAID
          - MAID
        value:
          type: string
          description: Hashed identifier (SHA-256 recommended).
    FirstPartyAudience:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        type:
          type: string
          enum:
          - CRM
          - PIXEL_BASED
        country:
          type: string
        ttl:
          type: integer
          description: Time-to-live in days.
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
